@font-face {
    font-family: "Cormorant", serif;
    src: url(https://fonts.gstatic.com);
}

*{
    margin: 0;  
    padding: 0; 
    box-sizing: border-box;
    font-family: "Cormorant", serif;
}
img { 
    width: 747px;
    height: 742;

}
.custom-width {
    width: 610px;
  }