@font-face {
    font-family: "Cormorant", serif;
    src: url(https://fonts.gstatic.com);
}

*{
    font-family: "Cormorant", serif;
    font-weight:550;
}
img { 
    width: 747px;
    height: 742;

}
.custom-width {
    width: 610px;
  }