

h1{
    font-family: "Cormorant", serif;
    font-weight:600;
}
.custom-container2 {
    background-color: #F2CEA2;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 5rem;
   
}